.page-enter-active,
.page-leave-active {
    transition: all .25s
}

.page-enter,
.page-leave-active {
    filter: brightness(200%);
    filter: grayscale(100%);
    opacity: 0;
    transform: scale(0.9);
}