.mainTransition-enter-active,
.mainTransition-leave-active {
    transition: all .25s
}

.mainTransition-enter,
.mainTransition-leave-active {
    filter: brightness(200%);
    filter: grayscale(100%);
    opacity: 0;
    transform: scale(0.9);
}